html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  background-color: #141b1c;
  min-height: 100vh;
}

h2,
p,
span,
ul,
li {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.tariffs {
  display: flex;
  margin: auto;
}

.price-card {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 33px 0px 1px;
  margin-right: 18px;
  background-color: #334247;
  color: #ffffff;
  overflow: hidden;
}
.price-card:last-child {
  margin: 0;
}
.price-card--business {
  position: relative;
}
.price-card--business::after {
  content: "popular";
  position: absolute;
  width: 150px;
  height: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  text-transform: uppercase;
  background-color: #dc3f45;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  right: -8%;
  top: 4%;
}
.price-card__title {
  font-size: 35px;
  line-height: 1.22;
  font-weight: 700px;
  text-align: center;
}
.price-card__subtitle {
  display: block;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.price-card__description {
  width: 328px;
  margin: 40px auto;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
}
.price-card__price {
  padding: 19px 0;
  margin-top: 33px;
}
.price-card__price--basic {
  background-color: #5bb189;
}
.price-card__price--business {
  background-color: #3a6ba5;
}
.price-card__price--webshop {
  background-color: #ec632a;
}
.price-card__price-tag {
  display: block;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.21;
  text-align: center;
}
.price-card__options-list {
  padding: 0 0;
}
.price-card__options-item {
  position: relative;
  padding: 16px 0px 16px 59px;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.2;
}
.price-card__options-item:nth-child(odd) {
  background-color: #2a3438;
}
.price-card__options-item--basic::before {
  content: " ";
  position: absolute;
  left: 22px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
  width: 15px;
  height: 13px;
}
.price-card__options-item--business::before {
  content: " ";
  position: absolute;
  left: 22px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
  width: 15px;
  height: 13px;
}
.price-card__options-item--webshop::before {
  content: " ";
  position: absolute;
  left: 22px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
  width: 15px;
  height: 13px;
}
.price-card__order-btn {
  padding: 11px 27px 12px 28px;
  color: inherit;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin: 39px auto 40px;
}
.price-card__order-btn--basic {
  background-color: #5bb189;
}
.price-card__order-btn--business {
  background-color: #3a6ba5;
}
.price-card__order-btn--webshop {
  background-color: #ec632a;
}

/*# sourceMappingURL=styles.css.map */
