$section-background: #141b1c;
$dark-background: #2a3438;
$light-background: #334247;

$text-color: #ffffff;

$basic-color: #5bb189;
$business-color: #3a6ba5;
$webshop-color: #ec632a;

$popular-color: #dc3f45;
